$width:250px;

.container{
  width: $width;
  display: flex;
  flex-direction: column;
  position: fixed;
  left: -$width;
  top: 0;
  bottom: 0;
  background-color: cadetblue;
  transition: left 0.5s;
}
.open{
  left: 0;
}
.list{
  list-style: none;
  a{
    display: block;
    padding: 0.5rem;
    border: 1px solid rgb(30, 90, 92);
    text-decoration: none;
    &:hover{
      border: 1px solid rgb(63, 23, 100);
      background-color: rgb(47, 79, 80);
      color: cornsilk;
    }
  }
}
.closeBtn{
  margin-left: auto;
  color: rgb(30, 90, 92);
}