@import '../../common/styles/templates';

.container{
  display: flex;
  justify-content: flex-end;  
}

.light{
  @extend %light;
  
}

.dark{
  @extend %dark;
}
.imgWrapper{
  display: flex;
  margin-left: 1rem;
  margin-right: 0.5rem;
  align-items: center;
  cursor: pointer;
}